.flexCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexAroundCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flexBetweenCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexEndCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.flexStartCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flexColumnCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAroundCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flexColumnBetweenCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flexColumnBetweenStart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
