.fromLeft {
    opacity:0;
    animation:fromLeft 0.5s 0.5s linear forwards;
}
@keyframes fromLeft {
    0%{
        opacity:0;
        transform:translateX(-1000px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}

.fromRight {
    opacity:0;
    animation:fromRight 0.5s 0.5s linear forwards;
}
@keyframes fromRight {
    0%{
        opacity:0;
        transform:translateX(1000px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}

.introFadeIn {
    animation:introFadeIn 0.5s linear forwards;
}
@keyframes introFadeIn {
    0%{
        opacity:0;
        filter:blur(10px);
    }
    100%{
        opacity:1;
        filter:blur(0);
    }
}

.blur {
    animation: blur 0.5s linear forwards;
}
@keyframes blur {
    0%{
        filter:blur(0);
    }
    100%{
        filter:blur(10px);
    }
}

.introTitle {
    animation:introTitle 1.5s ease-out;
}
@keyframes introTitle {
    0%{
        opacity:0;
        transform: translateY(-1000px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

.introDarkmode {
    opacity:0;
    animation:introDarkmode 1s 2s ease-out forwards;
}
@keyframes introDarkmode {
    0%{
        transform:translateX(1000px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}

.introAddEvent {
    opacity:0;
    transform:translateX(-1000px);
    animation:introAddEvent 1s 1.5s ease-out forwards;
}
@keyframes introAddEvent {
    0%{
        transform:translateX(-1000px);
        opacity:0;
    }

    100%{
        transform:translateX(0);
        opacity:1;
    }
}

.introFooter {
    opacity:0;
    animation:introFooter 1s 1s ease-out forwards;
}
@keyframes introFooter {
    0%{
        transform:translateY(1000px);
        opacity:0;
        filter:blur(10px);
    }
    100%{
        transform:translateY(0);
        opacity:1;
        filter:blur(0);
    }
}

.titleJump {
    display: inline-block;
    animation:titleJump 0.3s ease-in-out;
}
@keyframes titleJump {
    0%{
        transform:translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform:translateY(0);
    }
}

// DANCING CATS
.cat1 {
    animation:cat1 0.5s ease-out;
}
@keyframes cat1 {
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }
}

.cat2 {
    animation:cat2 0.5s ease-out;
}
@keyframes cat2 {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.cat3 {
    animation:cat3 0.5s linear;
}
@keyframes cat3 {
    0%{
        transform:rotate(0deg);
    }
    20%{
        transform: rotate(45deg);
    }
    40%{
        transform: rotate(-45deg);
    }
    60%{
        transform: rotate(45deg);
    }
    80%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}