footer {
    background-color:  #3c59a5;
    border-top: 1dvw solid #ffcc03;
    color: #ffcc03;
    width: 100dvw;
    margin-top: 1.5dvw;
}

.svg {
    filter: brightness(0) saturate(100%) invert(79%) sepia(73%) saturate(1680%) hue-rotate(351deg) brightness(103%) contrast(108%);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    align-content: center;
    margin: 1dvw auto;
    max-width: 90dvw;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1dvw;
   }

.pkmnlogo {
    width: 8dvw;
    padding: 1dvw;
}

.rights {
    padding: 1dvw;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.teamplayer {
    padding: 1dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.location {
    height: 20px;
    margin-right: 1dvw;
}

.github-pikachu {
    filter: brightness(0) saturate(100%) invert(79%) sepia(73%) saturate(1680%) hue-rotate(351deg) brightness(103%) contrast(108%);
    transition: transform 0.8s ease-in-out;
    &:hover {
       animation: dance 0.8s ease-in-out infinite;
    }
}

@keyframes dance {
    0% {
        transform:scale(1) rotate(0deg);
    }
    25% {
        transform:scale(1.2) rotate(25deg);
    }
    50% {
        transform:scale(1.4) rotate(0deg);
    }
    75% {
        transform:scale(1.2) rotate(-25deg);
    }
    100% {
        transform:scale(1) rotate(0deg);
    }    
}




@media (max-width: 768px) {

    .footer-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contacts {
        margin: 1.5dvw 0;
    }

    .team {
        margin-top: 2dvw;
    }

}
