@use "../extends/_extends_dir";

h1 {
    margin: 0;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3dvw auto;
    max-width: 90dvw;
}

.navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokemon-logo {
    width: 25dvw;
    margin: 2dvw auto 0;
}

.pokedex-home {
    color: #3c59a5;
    text-decoration: none;
}

.pokedex-home:hover {
    color: rgb(160, 160, 217);
}



.user-identification {
    color: #3c59a5;
    text-decoration: none;
    margin-left: 1dvw;
}

.user-identification:hover {
    color: rgb(160, 160, 217);
}

.search {
    //flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 30dvw;
}

.search input[type="text"] {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #3c59a5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 1dvw;
}

.search-button {
    background-color: #3c59a5;
    color: #ffcc03;
    border-radius: 4px;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(160, 160, 217);
    border-radius: 10px;
}

@media (max-width: 900px) {

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: end;
    }    
}

@media (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        //margin: 1dvw auto 3dvw;
        }

    .pokedex-home {
        margin: 1dvw auto;
    }

    .search{
        margin: 1dvw auto;
    }    

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1dvw auto;
    } 
        
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .pokemon-logo {
        width: 30dvw;
    }
    
}

