#loginForm {
    @include flex(column,flex-start,flex-start);
    @include box(300px,auto);
    padding:30px;
    margin-top: 25px;
    border:solid 1px black;
    border-radius: 30px;

    h2 {
        margin-bottom: 25px;
    }
    
    input {
        margin-bottom: 25px;
        width:100%;
    }

    p {
        color:rgb(142, 0, 0);
    }

    button {
        @extend .pointer;
        border:none;
        padding: 10px;
    }
    button:hover {
        background-color: rgb(160, 160, 217);
        border-radius: 20px;
    }
}
.notification {

    background-color:#ffcc03;
    color:  #3c59a5 ;
    padding: 5px;
    border-radius: 4px;
    animation: myAnim 5s ease 0s 1 normal forwards;

    @keyframes myAnim {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
    
        50% {
            opacity: 1; // Maintain opacity for half of the animation duration
        }

        100% {
            opacity: 0;
            transform: translateX(50px);
        }
    }
}
