body {
    background-color: #F3F4F6;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #3c59a5;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  a {
    font-weight: bold;
   
  }

main {
    @include flex(column,center,center);
    flex: 1;
}
