body {
    background-color: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #3c59a5;
  }
  
  a {
    font-weight: bold;
   
  }

main {
    @include flex(column,center,center);
}
