.pagination-section {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    a {
        display: block;
        width: 40px;
        height: 50px;
        padding: 15px;
        background-color: #3c59a5;
        text-decoration-line: none;
        color: #ffcc03;
        font-weight: bold;
        border-radius: 5px;
        

        &:hover {
            background-color: #537fef;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
            scale: 1.05;

            }
    }
}


@media (max-width: 600px) {
    .pagination-section {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }
    
    .pagination-section a {
        display: block;
        width: max-content;
        height: 30px;
        padding: 5px;
        background-color: #3c59a5;
        text-decoration: none; /* Correction de la propriété text-decoration */
        color: #ffcc03;
        font-weight:500;
        border-radius: 5px;
        text-align: center;
    }
    
    .pagination-section a:hover {
        background-color: #537fef;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        transform: scale(1.05); /* Correction de la propriété transform */
    }
}
