.pkmn-section {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 50px;
    column-gap: 75px;

    .card-pkmn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 500px;
        border: 2px solid;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        transition: ease-out 0.3s;
        .picture-pkmn {
            width:70%;
            height:50%; 
            background-size:cover;
            background-position: center;
        }
        .data-pkmn {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            text-align: center;
            border: 2px solid;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            color: white;

            .types-pkmn{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .type {
                    width: 80px;
                    padding: 5px;
                    border-radius: 5px;
                    filter: blur(1.5);                 
                }
            }
            .cri {
                width: 75%;
                background-color: transparent; /* Rend l'arrière-plan transparent */
                border: none; /* Supprime la bordure par défaut */
                outline: none;
            }
        }

      .grass {
         
          border: 3px rgb(106, 243, 106) solid;
          background-color: #4aca00df;
      }
      .fire {
          border: 3px rgb(255, 175, 71) solid;
          background-color: #f44122d1;
      }
      .water {
          background: #2c84e2fb ; /* Bleu pour l'élément eau */
          border: 3px rgb(156, 243, 255) solid;
        }
      .bug {
          border: 3px rgb(104, 188, 2) solid;
          background-color: #a2c74cdc;
      }
      .normal {
          border: 3px #e3dcdc solid; /* Couleur gris-vert pour le type Normal */
          background-color: #a8a878d6; /* Couleur du texte */
        }
        .poison {
          border: 3px #c060f8 solid; /* Couleur gris-vert pour le type Normal */
          background-color: #8742c8da; /* Couleur du texte */
        }
        .electric {
          border: 3px #e39400 solid; /* Couleur gris-vert pour le type Normal */
          background-color: #ccb806db; /* Couleur du texte */
        }
        .ground {
          border: 3px #895519 solid; /* Couleur gris-vert pour le type Normal */
          background-color: #a0643fd3; /* Couleur du texte */
        }
        .fairy {
          border: 3px #a75190 solid; /* Couleur gris-vert pour le type Normal */
          background-color: #f381fdd2; /* Couleur du texte */
        }
        .psychic {
          border: 3px #b70b3e solid; /* Couleur gris-vert pour le type Normal */
          background-color: #f0036ad5; /* Couleur du texte */
        }
        .rock {
          border: 3px solid #e45a14; /* Couleur gris-vert pour le type Normal */
          background-color: #f29b54d3; /* Couleur du texte */
        }
        .ghost {
          border: 3px solid #c595fc; /* Couleur gris-vert pour le type Normal */
          background-color: #7206f6cf; /* Couleur du texte */
          color: white;
        }
        .fighting {
          border: 3px solid rgb(248, 157, 0);
          background-color: #ff6f00c0;
      }
      .steel {
          border: 3px solid rgb(203, 202, 202);
          background-color: #797979e3;
      }
      .dragon {
          border: 3px solid rgb(50, 222, 119);
          background-color: #4c00ffe1;
      }
      .ice {
          border: 3px solid rgb(71, 243, 255);
          background-color: #22e6f4da;
      }
      .dark {
          border: 3px solid rgb(255, 255, 255);
          background-color: #03040dcf;
          color: white;
      }
      .flying {
          border: 3px solid rgb(0, 237, 241);
          background-color: #81d3ffd8;
      }
      &:hover {
        border: 4px white solid;
        scale: 1.05;
        cursor: pointer;
      }

    }

    .cardgrass {
      background-image: url('https://staticg.sportskeeda.com/editor/2021/04/9fe81-16173036977561-800.jpg?w=640');

    }
    .cardfire {
      background-image: url('https://w0.peakpx.com/wallpaper/247/374/HD-wallpaper-fire-energy-fire-card-pokemon.jpg');
    }

    .cardwater {
      background-image: url('https://i.ytimg.com/vi/9pyp6BXqcDM/maxresdefault.jpg');
      background-size: cover;
    }
    .cardbug {
      background-image: url('https://1.bp.blogspot.com/-wXdSSoxscp8/YFkxtNTVnxI/AAAAAAAARoQ/AHbeYQF09oAWLycmErpvAzEsTaOGM5m2QCLcBGAsYHQ/s16000/capa-inseto.png');
    }
    .cardnormal {
      background-image: url('https://i.ytimg.com/vi/ze6zcaemf7M/maxresdefault.jpg');
      background-size: cover;
    }
    .cardpoison {
      background-image: url('https://e0.pxfuel.com/wallpapers/732/598/desktop-wallpaper-poison-types-in-pokemon-go-pvp-meta-analysis-per-league-pokemon-go-hub-thumbnail.jpg');
      background-size: cover;
    }
    .cardelectric {
      background-image: url('https://i.ytimg.com/vi/VG0gh5GHoBU/maxresdefault.jpg');
      background-size: cover;
    }
    .cardground {
      background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2b96252f-36a9-4d78-a896-f31e2e20c0b6/d8jxrn2-dae37f01-f38e-42ce-879a-7aee5b44d477.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJiOTYyNTJmLTM2YTktNGQ3OC1hODk2LWYzMWUyZTIwYzBiNlwvZDhqeHJuMi1kYWUzN2YwMS1mMzhlLTQyY2UtODc5YS03YWVlNWI0NGQ0NzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kY9ySWV7eccyhKZUPb9nLkuwtKWqdnVQiXRV4lEkMg0');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .cardfairy {
      background-image: url('https://wallpapercave.com/wp/wp11000651.jpg');
      background-size: cover;
    }
    .cardghost {
      background-image: url('https://w0.peakpx.com/wallpaper/566/14/HD-wallpaper-pokemon-ghost-type-purple-purple-smoke-smoke.jpg');
    }
    .cardpsychic {
      background-image: url('https://e0.pxfuel.com/wallpapers/483/869/desktop-wallpaper-psychic-types-in-pokemon-go-pvp-meta-analysis-per-league-pokemon-go-hub.jpg');
      background-size: cover;
      
    }
    .carddark {
      background-image: url('https://pokemongohub.net/wp-content/uploads/2019/01/Dark-Types.jpg');
    }
    .cardice {
      background-image: url('https://media.istockphoto.com/id/466513257/photo/image-of-light-blue-ice-design.webp?b=1&s=170667a&w=0&k=20&c=fzdm8jWAJO53AXqJ9bQ95Dz_pwN0NDv_FI_lzgHVjFw=');
      background-size: cover;
    }
    .carddragon {
      background-image: url('https://pokemongohub.net/wp-content/uploads/2019/01/Dragon-Types.jpg');
      background-size: cover;
    }
    .cardsteel {
      background-image: url('https://i.ytimg.com/vi/IK9TxCgn7IM/maxresdefault.jpg');
      background-size: cover;
    }
    .cardrock {
      background-image: url('https://pokemongohub.net/wp-content/uploads/2019/01/Ground-Types.jpg');
    }
    .cardfighting {
      background-image: url('https://i.ytimg.com/vi/k7xQ8LWL50g/mqdefault.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .cardflying {
      background-image: url('https://pokemongohub.net/wp-content/uploads/2019/02/Flying-Types.jpg');
    }
  



    
}