@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin responsive($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
